<launch>
    <!--- Sim Time -->
    <param name="/use_sim_time" value="false"/>

    <node pkg="pcap_convert" type="pcap_convert_node" name="pcap_convert_node" output="screen">
      <param name="pcap_file" type="string" value = "/home/young/Raw-001/Raw-001-HDL32.pcap"/>
      <param name="pub_virtual_clock" type="bool" value = "false"/>
    </node>

    <!-- <node pkg="imu_convert" type="imu_convert_node" name="imu_convert_node" output="screen"> -->
      <!-- <param name="file_name" type="string" value = "/home/ycl/kyxz2020/Raw-001/Raw-001-IMU.csv"/> -->
    <!-- </node> -->
</launch>
