<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="imshow_isshow"               default="true"/>
    <arg name="yolo_type"                   default="yolox-l"/>
    <arg name="fuse"                        default="false"/>
    <arg name="trt"                         default="false"/>
    <arg name="rank"                        default="0"/>
    <arg name="ckpt_file"                   default="/home/young/下载/best_ckpt.pth"/>
    <arg name="conf"                        default="0.3"/>
    <arg name="nmsthre"                     default="0.65"/>
    <arg name="image_size/width"            default="640"/>
    <arg name="image_size/height"           default="480"/>

    <!-- Node -->
    <node name="detector_manager" pkg="perception" type="yolox_ros.py" output="screen" respawn="true">
        <param name="imshow_isshow"               value="$(arg imshow_isshow)"/>
        <param name="yolo_type"                   value="$(arg yolo_type)"/>
        <param name="fuse"                        value="$(arg fuse)"/>
        <param name="trt"                         value="$(arg trt)"/>
        <param name="rank"                        value="$(arg rank)"/>
        <param name="ckpt_file"                   value="$(arg ckpt_file)"/>
        <param name="conf"                        value="$(arg conf)"/>
        <param name="nmsthre"                     value="$(arg nmsthre)"/>
        <param name="image_size/width"            value="$(arg image_size/width)"/>
        <param name="image_size/height"           value="$(arg image_size/height)"/>
    </node>

    <!-- <node pkg="pcap_convert" type="pcap_convert_node" name="pcap_convert_node" output="screen">
      <param name="pcap_file" type="string" value = "/home/young/Raw-001/Raw-001-HDL32.pcap"/>
      <param name="pub_virtual_clock" type="bool" value = "false"/>
    </node> -->

    <!-- <node pkg="perception" type="cam_data_pub" name="cam_data_pub" output="screen"></node> -->


</launch>
